.daysForecast{
    margin: 10%;
    height: 35px;
    font-size: 20px;
}

.divForecast{
    width: 270px;
    margin-left: 40px;
    margin-top: 15px;
}

.divContainer{
    display: flex;
    height: 100vh;
    width: 100vh;
}

.containerWeatfr{
    border-radius: 15px;
    box-shadow: 10px 5px 5px lightgray;
    height: 115px;
    width: 320px;
    margin-top: 20px;
    margin-left: 40px;
}